{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto pt-5">
        <div class="row justify-content-center rounded-pill">
            <div class="titre col-5 text-white">
                <h1>Reprise d'activités</h1>
            </div>
            <div class="col-2 titre">
                <div class="row py-0"><h5>Service carrières</h5></div>
                <div class="row py-0"><h6>02.40.20.00.71</h6></div>
            </div>
            <div class="col-2 titre">
                <img src={{ asset('img/Logo.png') }} width=50% alt="Logo CDG">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 pt-3 control-panel">
                <p><strong>{{ employee.lastName }} </strong>{{ employee.firstName }}</p>
                <a href="{{ path('app_nouveau_calcul') }}">
                    <button type="button" class="btn btn-outline-primary">Nouveau</button>
                </a>
            </div>

            <div class="col-3 pt-3 control-panel">

            </div>

            <div class="col-3 pt-3 control-panel">
                <a href="" target="_blank">
                    <button type="button" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                        </svg>
                        Imprimer</button>
                </a>
                <a href="{{ path('help') }}" target="_blank" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
                        <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                        <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
                    </svg> Aide
                    <!--
                    <button type="button" class="btn btn-outline-secondary">Aide</button>
                    -->
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2  pt-3">
                <h3><strong>{{ employee.lastName }} </strong>{{ employee.firstName }}</h3>
            </div>
            <div class="col-3  pt-3">

            </div>
            <div class="col-4 pt-3">
                <span class="uid"> UID : </span><span class="alert-info" font-size="0.5rem">{{ employee.UID }}</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row change-bhbsm col-9 pt-3">
                {{ form_start(form2) }}
                {{ form_label(form2.weekBase) }} {{ form_widget(form2.weekBase) }} heures / semaine
                <br />
                {{ form_end(form2) }}
            </div>

        </div>
        <div class="row justify-content-center">

            <div class="col-9 page-help pt-3 control-panel">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>


                    <div class="row mb-3">
                        <div class="col-6">{{ form_label(form.startDate) }}</div>
                        <div class="col-3">{{ form_widget(form.startDate) }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">{{ form_label(form.endDate) }}</div>
                        <div class="col-3">{{ form_widget(form.endDate) }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">{{ form_label(form.hours) }}</div>
                        <div class="col-3">{{ form_widget(form.hours) }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">{{ form_label(form.type) }}</div>
                        <div class="col-3">{{ form_widget(form.type) }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">{{ form_rest(form) }}</div>
                    </div>


            <!-- Affichage des périodes si elles existent -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-total-tab" data-bs-toggle="tab" data-bs-target="#nav-total" type="button" role="tab"
                                aria-controls="nav-total" aria-selected="true">Total</button>
                        <button class="nav-link" id="nav-public-tab" data-bs-toggle="tab" data-bs-target="#nav-public" type="button" role="tab"
                                aria-controls="nav-public" aria-selected="false">Périodes Secteur Public</button>
                        <button class="nav-link" id="nav-prive-tab" data-bs-toggle="tab" data-bs-target="#nav-prive" type="button" role="tab"
                                aria-controls="nav-prive" aria-selected="false">Périodes Secteur Privé</button>
                    </div>
                </nav>

                <div class="tab-content container" id="nav-tabContent">
                    <!-- Onglet total -->
                    <div class="tab-pane fade show active" id="nav-total" role="tabpanel" aria-labelledby="nav-total-tab">
                        <div id="total">
                            <table id="tab-tt-spc" class="data">
                                {% set totalFP = 0 %}
                                {% set totalPrive = 0 %}
                                {% set totalJPCPublic = 0 %}
                                {% set totalJPCPrive = 0 %}
                                {% set jmaPub = '' %}
                                {% set jmaPrive = '' %}
                                {% set jpcPub = '' %}
                                {% set jpcPrive = '' %}
                                {% if wps %}
                                    {% for wp in wps %}
                                        {% if wp.type == 1 %}
                                            {% set totalFP = totalFP+wp.getJR() %}
                                            {% set totalJPCPublic = totalJPCPublic+wp.getJPC() %}
                                            {% set jmaPub = wp.getJMA(totalFP) %}
                                            {% set jpcPub = wp.getJMA(totalJPCPublic) %}
                                        {% elseif wp.type == 2%}
                                            {% set totalPrive = totalPrive+wp.getJR() %}
                                            {% set totalJPCPrive = totalJPCPrive+wp.getJPC() %}
                                            {% set jmaPrive = wp.getJMA(totalPrive) %}
                                            {% set jpcPrive = wp.getJMA(totalJPCPrive) %}
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                                <tr>
                                    <td style="background:#eee;"></td>
                                    <td class="spch" style="text-align:center;"><b>PUBLIC</b></td>
                                    <td class="spvh" style="text-align:center;"><b>PRIVE</b></td>
                                </tr>
                                <tr>
                                    <td rowspan="2"><b>Total du nombre de jours retenus</b><br/>
                                        <span style="font-size:8pt;color:#888">arrondi à l'entier inférieur</span>
                                    </td>
                                    <td class="spch tab-tt-spc-j" style="color:#666">{{ totalFP }}</td>
                                    <td class="spvh tab-tt-spv-j" style="color:#666">{{ totalPrive }}</td>
                                </tr>

                                <tr>
                                    <td class="spch" id="tab-tt-spc-amj"><b>{{ jmaPub }}</b></td>
                                    <td class="spvh" id="tab-tt-spv-amj"><b>{{ jmaPrive }}</b></td>
                                </tr>

                            </table>
                            <table class="data">

                                <tr>
                                    <td rowspan="2"><b>Total du nombre de jours à prendre en compte</b><br/>
                                    </td>
                                    <td class="spch" id="tab-tt-spc-rd" style="color:#666">{{ totalJPCPublic }}</td>
                                    <td class="spvh" id="tab-tt-spv-rd" style="color:#666">{{ totalJPCPrive }}</td>
                                </tr>

                                <tr>
                                    <td class="spch" id="tab-tt-spctamj"><b>{{ jpcPub }}</b></td>
                                    <td class="spvh" id="tab-tt-spv-tamj"><b>{{ jpcPrive }}</b></td>
                                </tr>
                            </table>

                            <table class="data">
                                <tr>
                                    <td style="width:33%;"><b>Service militaire</b><br/>
                                        <span style="font-size:8pt;color:#888">repris à 100% dans tous les cas</span></td>

                                    {% if employee.militaireDays == 0 %}
                                        <td style="width:66%;text-align:center;" id="ta"><b>pas de service militaire</b></td>
                                    {% else %}
                                        <td style="width:66%;text-align:center;" id="ta"><b>{{ employee.militaireDays }} mois ( soit {{ employee.getmilitaireDays() }} )</b></td>
                                    {% endif %}

                                </tr>


                            </table>

                            <table class="data" style="margin:1em 0;background:#333;">
                                <tr>
                                    <td rowspan="2"><b>Total</b></td>
                                    <td class="spch" id="total-spc"><b>A faire</b></td>
                                    <td class="spvh" id="total-spv"><b>A faire</b></td>
                                </tr>
                            </table>

                        </div>
                    </div>

                    <!-- Onglet Public -->
                    <div class="tab-pane fade" id="nav-public" role="tabpanel" aria-labelledby="nav-public-tab">
                        <table id="tab-period-spc" class="data">
                            <thead>
                            <tr>
                                <th>Période</th>
                                <th>Niveau</th>
                                <th>Nombre de jours retenus</th>
                                <th>Nombre de jours pris en compte</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if wps %}
                            {% set totalFP = 0 %}
                            {% for wp in wps %}
                                {% if wp.type == 1 %} {# Service Public #}
                                    <tr>
                                        <td style="text-align: center;">
                                            {{ (wp.startDate|date('d/m/Y')) }}
                                            &nbsp;-&nbsp;
                                            {{ (wp.endDate|date('d/m/Y')) }}
                                        </td>
                                        <td style="text-align: right;">{{ wp.cat }}</td>
                                        <td style="text-align: right;">{{ wp.getJR() }}</td>
                                        <td style="text-align: right;">{{ wp.getJPC() }}</td>
                                        <td style="text-align: center;">
                                            <a href="{{ path('supprimer_wp', {wp: wp.id}) }}">
                                                <button class="button btn-delete btn-del-period-sp" style="margin:0px" type="button" href value="X">
                                                    <span class="ui-button-icon-primary ui-icon ui-button-delete"></span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% set totalFP = totalFP+wp.getJR() %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                            <td class="nodata" colspan="7">aucune période de travail</td>
                            </tbody>
                        </table>
                        {% endif %}
                        <table class="data">
                            <tr>
                                <td style="text-align:center;font-weight:bold;width:550px;background:#555;color:#fff;">nombre total de jours retenus pour le secteur public</td>
                                <td style="text-align:center;font-weight:bold;background:#FF0084;color:#fff;"><span class="tab-tt-spc-j">{{ totalFP }}</span></td>
                            </tr>
                        </table>

                    </div>

                    {% if wps %}
                    {% set totalPrive = 0 %}
                    {% for wp in wps %}
                    {% if wp.type == 2 %} {# Secteur privé #}
                    <div class="tab-pane fade" id="nav-prive" role="tabpanel" aria-labelledby="nav-prive-tab">


                        <table id="tab-period-spv" class="data">
                            <thead>
                            <tr>
                                <th>Période</th>
                                <th>Profession</th>
                                <th>Nombre de jours retenus</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td style="text-align: center;">
                                    {{ (wp.startDate|date('d/m/Y')) }}
                                    &nbsp;-&nbsp;
                                    {{ (wp.endDate|date('d/m/Y')) }}
                                </td>
                                <td style="text-align: left;">{{ wp.getprof() }}</td>
                                <td style="text-align: right;">{{ wp.getJR() }}</td>
                                <td style="text-align: center;">
                                    <a href="{{ path('supprimer_wp', {wp: wp.id}) }}">
                                        <button class="button btn-delete btn-del-period-sp" style="margin:0px" type="button" href value="X">
                                            <span class="ui-button-icon-primary ui-icon ui-button-delete"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% set totalPrive = totalPrive+wp.getJR() %}
                            {% endif %}
                            {% endfor %}
                            {% else %}
                                <td class="nodata" colspan="7">aucune période de travail</td>
                            {% endif %}
                            </tbody>
                        </table>
                        <table class="data">
                            <tr>
                                <td style="text-align:center;font-weight:bold;width:550px;background:#555;color:#fff;">nombre total de jours retenus pour le secteur privé</td>
                                <td style="text-align:center;font-weight:bold;background:#0073EA;color:#fff;"><span class="tab-tt-spv-j"</span>{{ totalPrive }}</td>
                            </tr>
                        </table>
                    </div>

                </div>

            </div>

    </div>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

    <script TYPE="text/javascript">
        $(function() {
            $("#employee_type_c_weekBase").keyup(function() {
                let weekbase = document.querySelector("#employee_type_c_weekBase").value;
                console.log("WeekBase " + weekbase);

                let calcul = weekbase *52/12;
                console.log("Calcul : "+calcul);
                $("#employee_type_c_monthBase").val(calcul);
            })
        });
    </script>

<!--
    <script>
    window.onload = () => {
    //on va chercher le week base
        let weekbase = document.querySelector("#employee_type_c_weekBase");

        weekbase.addEventListener("change", function() {
           let form = this.closest("form");
           let data = this.value;
           console.log("data : " + data);
            fetch(form.action, {
                name: form.getAttribute("name"),
                method: form.getAttribute("method"),
                body: data,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded; charset: UTF-8"
                }
            })
            .then(response => response.text())
            .then(html => {
                let content = document.createElement("html");
                content.innerHTML = html;

                let calcul = (data *52/12);
                console.log("CALCUL" + calcul);
                document.querySelector("#employee_type_c_monthBase").replaceWith(calcul);
            })
            .catch(error => {
                console.log(error);
            })
        });


    };

</script>-->
{% endblock %}
